<div>
  <h2>Observables & RxJS Example</h2>
  <h3>(Please check the console)</h3>
</div>
<div>
  <p><strong>interval</strong> - a RxJS operator that creates an observable that emits sequential numbers every
    specified interval of time<br>
    <a href="https://rxjs.dev/api/index/function/interval">https://rxjs.dev/api/index/function/interval</a>
  </p>
  <p>The interval operator is emitting a number a every second</p>
</div>
<div>
  <p><strong>pipe</strong> - A pipe operator is a function that takes an Observable as its input and returns another
    Observable. It is a pure operation: the previous Observable stays unmodified.</p>
  <p>The pipe operator is being called to take the values emitted by interval and transform them further</p>
</div>
<div>
  <p><strong>take</strong> - an operator thta emits only the first count values emitted by the source
    <br><a href="https://rxjs.dev/api/operators/take">https://rxjs.dev/api/operators/take</a>
  </p>
  <p>The <strong>take</strong> operator will only take the first three values emitted in the stream</p>
</div>
<div>
  <p><strong>map</strong> - an operator that applies a given project function to each value emitted by the source
    Observable, and emits the resulting values as an Observable <br>
    <a href="https://rxjs.dev/api/operators/map">https://rxjs.dev/api/operators/map</a>
  </p>
  <p>The <strong>map</strong> operator is taking the output of the take operator generating the date values in milliseconds the time that elapsed since January 1, 1970 00:00:00 UTC.</p>

</div>
<div>
  <p><strong>subscribe</strong> - this function is used to subscribe to the observable return by pipe opeator and use the value by logging it onto the console.</p>
</div>